@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Mulish', sans-serif;
    font-size: medium;
    background-color: #e7e7e7;
    align-items: center;
    justify-content: center;
}

.container {
    margin-top: 25px;
    max-width: 600px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

/* perguntas */
.ask {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.151);
    padding: 10px 40px;
    border-radius: 10px;
    margin: 20px 5px;
    height: auto;
    overflow: hidden;
}

.ask_question {
    display: flex;
    height: 100%;
    align-items: center;
}

h2 {
    font-size: 1rem;
}

/* botões */
.done,.cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.ask .ask_solved {
    display: none;
}

.ask.active .done {
    display: none;
}

.ask .cancel {
    display: none;
}

.ask.active .cancel {
    display: block;
}

/* 
- Falta colocar fundo branco
- Falta colocar desenhos no fundo
- Falta trocar a cor do cancel para cinza claro
- fazer ask maior para active ask 
- colocar sombra em volta do active ask 
- mostrar ask_resolution  
*/