@charset "UTF-8";

*{
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: rgb(159, 120, 211);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.search-box {
    position: relative;
    height: 50px;
}

.search-box .barr {
    background-color: #fff;
    border-style: none;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
    padding-left: 5px;
}

/* BOTÃO */
.search {
    border: 0;
    top: 0;
    left: 0;
    position: absolute; 
    border-style: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;  
}

.search:focus, .barr:focus {
    outline: none;
}

.search-box.active .barr {
    width: 200px;
}

.search-box.active .search {
    transform: translateX(150px);
}