@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: large;
    font-weight: bold;
    margin: 0;
    background-color: #eafbff;
    background: #2980B9;
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);
    overflow: hidden;
}

.container {
    position: relative;
    display: flex;
    background-color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    transition: 0.6s linear;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

.container ul {
    display: none;
}

.container .line {
    width: 20px;
    background-color: #a2bbe7;
    height: 2px;      
    transform: rotate(0deg);
    transition: transform 0.6s linear;
}

.container .line2 {
    display: flex;
    margin-top: 10px;
    transform: rotate(0deg);
    transition: transform 0.6s linear;
}

.container button {
    position: absolute;
    cursor: pointer;
    border: none;
    background-color: transparent;    
}

/* Ativos */
.container.active {
    position: relative;
    display: flex;
    background-color: #fff;
    width: 400px;
    height: 80px;
    border-radius: 3px;
    align-items: center;
    justify-content: left;
    transition: width 0.6s linear;
}

.container.active ul {
    display: flex;
    margin: 10px;
    padding: 0;
}

.container.active ul li {
    position: relative;
    list-style-type: none;
    margin: 10px;
}

.container.active ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -2px;
    left: 25%;
    border-radius: 10px;
    transition: all 500ms ease;
}

.container.active ul li:hover::after {
    left: 0%;
    width: 100%;
}

a {
    color: #000;    
    text-decoration: none;
}

/* Botão */
.container.active button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    transform: translateX(350px);
    margin-top: -10px;
    transition: 0.6s linear;
}

.container.active .line {
    width: 22px;    
    background-color: #a2bbe7;
    transform: rotate(765deg) translateY(8px);
    transition: transform 0.6s linear;
}

.container.active .line2 {
    display: flex;
    position: absolute;
    transform: rotate(-765deg) translateY(-8px);
    transition: transform 0.6s linear;
}